<div id="wrap">
	<div class="row center">
		<div class="span12">
			<strong><h1 class="center space10">About Us</h1></strong>
		</div>
		<div class="span5 offset1 column ui-sortable" style="margin-top:30px;border-right:thick double black;">
			<div class="row center">
					<strong><h1 class="center space10"><img src="/assets/logo.png" class="img-rounded" style="height:60px;width:60px;"> OATS</h1></strong>
			</div>
			<div class="row center">
				<h2 class="center">Open Attendance Service</h2>
			</div>
		</div>
		<div class="span5 column ui-sortable" style="margin-top:30px">
			<p class="text-center"><strong>OATS is a web and mobile based application that can record your company's employees attendance.</strong></p>
			<p class="text-center">Oats is open attendance system for company or private organization. We bring out new feature of checking your place to do attendance, either from mobile phone (android) or web browser.</p>
		</div>
	</div>
</div>

