<div class="row">
	<div class="span8">
		<div class="row">
			<strong><h1>Companies</h1></strong>
		</div>
		<div class="row floating-paper">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Company name</th>
						<th>Address</th>
						<th>Contact</th>
						<th>Billing</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td><a href="admin_company">Suitmedia</a></td>
						<td>Jalan Jakarta 1</td>
						<td>(021) 1234567</td>
						<td>$ 10.0 / month</td>
						<td>Active</td>
						<td><a href="#">delete</a></td>
					</tr>
					<tr>
						<td>2</td>
						<td><a href="#">SMedia</a></td>
						<td>Jalan Sekeloa 2</td>
						<td>(022) 1234567</td>
						<td>$ 10.0 / month</td>
						<td>Active</td>
						<td><a href="#">delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>