<div class="row">
  <div class="span9">
    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#companyprofile" data-toggle="tab"><i class="icon-briefcase icon-white"></i> Company</a></li>
        <li><a href="#employees" data-toggle="tab"><i class="icon-list icon-white"></i> Employees</a></li>
      </ul>
      <div class="tab-content" style="padding-left:30px;">
        <div class="tab-pane active" id="companyprofile">
          <%= render 'main/admin_companyprofile' %>
        </div>
        <div class="tab-pane" id="employees">
          <%= render 'main/admin_employee' %>
        </div>
      </div>
      
    </div>
  </div>
  <div class="span3 pull-right">
    <ul class="nav nav-tabs nav-stacked">
      <li><a href="/admin_companies"><i class="icon-briefcase icon-white"></i> Companies</a></li>
    </ul>
  </div>
</div>