<div id="wrap">
	<div class="row center" style="margin-top:20px;">
		<div class="span12">
			<strong><h1 class="center space10">Help</h1></strong>
		</div>
	</div>
	<div class="row text-center" >
		<div class="row">
			<div class="span3 offset2">
				<div class="well sidebar-nav">
					<ul class="nav nav-list" style="text-align:left;">
						<li class="">
							<a href="#sign_in" id="selected-nav">
								Sign In
								<i class="icon-chevron-right" style="size=14px 13px;"></i>
								
							</a>
						</li>
						<li class="">
							<a href="#sign_out">
								Sign Out
								<i class="icon-chevron-right"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="span5">
				<ul class="dialog" id="sign_in">
					<div class="row text-left" style="display:inline-block">
						<h2 style="text-align:left">Sign In</h2>
						<li>
							<p class="text-left" style="text-align:left"><strong style="text-align:left">How to sign in?</strong></p>
							<p class="text-left" style="text-align:left">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
						</li>
						<li>
							<p class="text-left" style="text-align:left"><strong style="text-align:left">How to sign in?</strong></p>
							<p class="text-left" style="text-align:left">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
						</li>
					</div>
				</ul>
				<ul class="dialog" id="sign_out">
					<div class="row text-left">
						<h2 style="text-align:left">Sign Out</h2>
						<li>
							<p class="text-left" style="text-align:left"><strong style="text-align:left">How to sign out?</strong></p>
							<p class="text-left" style="text-align:left">To sign out just click sign out button.</p>
						</li>
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>

