<div id="wrap">
	<div class="row center">
		<div class="span4 column ui-sortable">
			<div class="row center" style="padding-top:40px;">
				<strong><h1 class="center space10">Welcome</h1></strong>
				<strong><h1 class="center space10">to OATS!</h1></strong>
			</div>
			<div class="row center">
				<h2 class="center space10">Open Attendance System</h2>
			</div>
			<div class="row center">
				<input type="button" value="Sign up today" class="btn btn-primary btn-large center space10"/>
			</div>
		</div>
		<div class="span6 column ui-sortable">
			<div class="row">
				<%=image_tag("Buildings.png", alt: "Buildings") %>
			</div>
		</div>
	</div>
</div>