<%= javascript_include_tag "zingchart-html5-min" %>

<div class="row">
	<div class="span8">
		<div class="row">
			<strong><h1>Performance</h1></strong>
		</div>
		<div class="row floating-paper">
            <div class="row">
                <div class="span6">
                    <div class="row">
                        <div class="span2" style="width:90px;">Period from : </div>
                            <div id="datetimepicker_from" class="span4">
                                  <div id="date_from" class="input-append input-medium">
                                    <input data-format="dd-MM-yyyy" type="text" value='<%= Time.parse((Date.today()-6).to_s).strftime("%d-%m-%Y")  unless (Date.today()-6).nil? %>'></input>
                                    <span class="add-on">
                                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                      </i>
                                    </span>
                            </div>
                            <script type="text/javascript">
                              $(function() {
                                $('#date_from').datetimepicker({
                                  pickTime: false
                                });
                              });
                            </script>
                        </div>
                    </div>
                    <div class="row">
                            <div class="span2" style="width:90px;">to : </div>
                            <div id="datetimepicker_to" class="span4">
                                  <div id="date_to" class="input-append input-medium">
                                    <input  data-format="dd-MM-yyyy" type="text" value='<%= Time.parse(Date.current.to_s).strftime("%d-%m-%Y")  unless Date.current.nil? %>'></input>
                                    <span class="add-on">
                                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                      </i>
                                    </span>
                            </div>
                            <script type="text/javascript">
                              $(function() {
                                $('#date_to').datetimepicker({
                                  pickTime: false
                                });
                              });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="span1">
                    <input type="button" class="btn btn-primary square-button" value="Refresh" onclick="refresh_performance()"/>
                </div>
            </div>

            
			<div id="perf_chart">

			</div>
            <div class="row">
            </div>
		</div>
	</div>
	<%= render 'layouts/navigation' %>
</div>

<script>
  window.onload = function(){
    zingchart.render(
      {
        id : "perf_chart",
        height : 450,
        width : 600,
        data : myChart
      }
    );
  }

  var myChart = {
    type : "bar",
    title : {text : "Performance Graph"},
    "legend" : {
            "header" : {
            "text" : "Legend"
            },

    },
    "scale-x"  : {
        "text" : "Scale-x"
    },
    "scale-y"  : {
        "text" : "Scale-y"
    },
    series :[
    	{	values : [5, 10, 9, 5, 10, 5, 8, 7.3, 6.9],
    		"text": "Worktime"
    	}
    ]
  };
</script>