<div id="wrap">
	<div class="row center">
		<div class="span12">
			<strong><h1 class="center space10">Terms of Service</h1></strong>
		</div>
		<div class="span5 offset1 column ui-sortable" style="margin-top:30px;border-right:thick double grey;">
			<div class="row center">
					<strong><h1 class="center space10"><img src="/assets/logo.png" class="img-rounded" style="height:60px;width:60px;"> OATS</h1></strong>
			</div>
			<div class="row center">
				<h2 class="center">Open Attendance Service</h2>
			</div>
		</div>
		<div class="span5 column ui-sortable" style="margin-top:30px">
			<p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum..</p>
		</div>
	</div>
</div>