<div id="wrap">
	<div class="row center">
		<div class="span12">
			<strong><h1 class="center space10">Testimony</h1></strong>
		</div>
		<div class="span12" style="margin-top:10px;">
			<ul class="thumbnails">
			  <li class="span4">
			    <div class="thumbnail">
			      <img src="/assets/logo.png" alt="logo" style="size:100% 100%; margin-top:10px;">
			      <blockquote style="margin-top:10px;">
					  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
					  <small>Someone famous <cite title="Source Title">Source Title</cite></small>
					</blockquote>
			    </div>
			  </li>
			</ul>
		</div>
	</div>
</div>

