<div id="wrap">
	<div class="row center">
		<div class="span12">
			<strong><h1 class="center space10">About Us</h1></strong>
		</div>
		<div class="span5 offset1 column ui-sortable" style="margin-top:30px;border-right:thick double black;">
			<div class="row center">
					<strong><h1 class="center space10"><img src="/assets/logo.png" class="img-rounded" style="height:60px;width:60px;"> OATS</h1></strong>
			</div>
			<div class="row center">
				<h2 class="center">Open Attendance Service</h2>
			</div>
		</div>
		<div class="span5 column ui-sortable" style="margin-top:30px">
			<p>
				<strong>OATS is a service we brought to you to help you with your company’s attendance record. We do it by providing a feature to let your employees check in and out to your company through our website and our mobile application.</strong><br/><br/>

				<strong>Features</strong>
			</p>

			<ul style="text-align: left;">
				<li> Free trial service for a month! </li>
				<li> Lets your employees check in/out easily! </li>
				<li> Also lets your Human Resource department manage your employees! </li>
				<li> Prevents cheating by using the location of your company! </li>
			</ul>
		</div>
	</div>
</div>