<div id="wrap">
	<div class="row center">
		<div class="span12">
			<strong><h1 class="center space10">Contact Us</h1></strong>
		</div>
		<div class="span12" style="margin-top:10px;">
			<address>
			  <strong>Twitter, Inc.</strong><br>
			  795 Folsom Ave, Suite 600<br>
			  San Francisco, CA 94107<br>
			  <abbr title="Phone">P:</abbr> (123) 456-7890
			</address>
		</div>
		<div class="span12">
			<a class="btn btn-large" style="width:30px;height:35px; background-image:url('/assets/logo_facebook.png'); background-size:100% 100%;background-position:center bottom;background-color:transparent; border-style:none">
			</a>
			<a class="btn btn-large" style="width:30px;height:35px; background-image:url('/assets/logo_twitter.jpg'); background-size:100% 100%;background-position:center bottom;background-color:transparent; border-style:none">
			</a>
		</div>
	</div>
</div>

