<div class="row">
	<div class="span12">
		<strong><h1 class="center space10">Download Mobile App</h1></strong>
	</div>
	<div class="span5 offset1 column ui-sortable" style="margin-top:30px;border-right:thick double black;">
		<div class="row center">
				<strong><h1 class="center space10"><img src="/assets/logo.png" class="img-rounded" style="height:60px;width:60px;"> OATS</h1></strong>
		</div>
		<div class="row center">
			<h2 class="center">Open Attendance System</h2>
		</div>
	</div>
	<div class="span5 column ui-sortable" style="margin-top:30px">
		<p>
			We also provide you a way to use our application from an Android mobile phone. You can check in and check out using your them, just like using the website. To install the application, you need to download the apk by clicking the download button below.<br/><br/>
		</p>
		<div class="center">
			<a href="https://dl.dropboxusercontent.com/u/63719975/Oats_Mobile.apk" class="btn btn-primary">Download</a>
		</div>
	</div>
</div>