<div id="wrap">
	<div class="row center" style="margin-top:20px;">
		<div class="span12">
			<strong><h1 class="center space10">Help</h1></strong>
		</div>
	</div>
	<div class="row text-center" >
		<div class="row">
			<div class="span3 offset2">
				<div class="well sidebar-nav">
					<ul class="nav nav-list" style="text-align:left;">
						<li class="">
							<a href="#getting_started" style="color:black;">
								Getting Started
								<i class="icon-chevron-right"></i>
							</a>
						</li>
						<li class="">
							<a href="#features" style="color:black;">
								Features
								<i class="icon-chevron-right"></i>
							</a>
						</li>
						<li class="">
							<a href="#payment" style="color:black;">
								Payment
								<i class="icon-chevron-right"></i>
							</a>
						</li>
						<li class="">
							<a href="#faq" style="color:black;">
								FAQs
								<i class="icon-chevron-right"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="span5">
				<ul class="dialog" id="getting_started">
					<div class="row text-left" style="display:inline-block">
						<h2 style="text-align:left">Getting Started</h2>
						<li>
							<p class="text-left" style="text-align:left"><strong style="text-align:left">Signing up!</strong></p>
							<p class="text-left" style="text-align:left">
								Simply navigate to <a href="/signup" style="color:lightblue">this page</a>. Then, fill you and your company's informations and create your account!
							</p>
						</li>
						<li>
							<p class="text-left" style="text-align:left"><strong style="text-align:left">After Signing Up</strong></p>
							<p class="text-left" style="text-align:left">You have a role as the owner of your newly registered company! Start with adding employees to your company by clicking the "Employees" button on the right side of your home screen.</p>
						</li>
						<li>
							<p class="text-left" style="text-align:left"><strong style="text-align:left">Checking In and Out</strong></p>
							<p class="text-left" style="text-align:left">Your employee can now check in to your company by signing in to the website using their email. The default password is the same as the registered email. So, remind your employees to change their password after signing in!</p>
						</li>
					</div>
				</ul>
				<ul class="dialog" id="features">
					<div class="row text-left">
						<h2 style="text-align:left">Features</h2>
						<li>
							<p class="text-left" style="text-align:left"><strong style="text-align:left">User Role</strong></p>
							<p class="text-left" style="text-align:left">
								There are basically three different roles, which are Owner, Human Resource(HR), and Employee.
							<ol> 
								<li>
								Owner is the head of the company who can manage all things in his/her company, including adding employees, managing offices, changing roles, etc.</p></li>
								<li>
								Human Resource is the department which can be assigned by owner to help managing employees and monitoring employees' attendances.</p></li>
								<li>
								The other employees in your company should be assigned to the Employee role.</p></li>
							</ol>
						</li>
						<li>
							<p class="text-left" style="text-align:left"><strong style="text-align:left">Attendance</strong></p>
							<p class="text-left" style="text-align:left">
								Employees can check in and check out by clicking a button in their home page. There is also a timer to check how long you've checked in.
							</p>
						</li>
						<li>
							<p class="text-left" style="text-align:left"><strong style="text-align:left">Performance Graph</strong></p>
							<p class="text-left" style="text-align:left">
								We've provided you the way to see your performance over a period of time in a coolly-styled-performance-graph provided by <a href="www.zingchart.com" style="color:lightblue">ZingChart</a>.
							</p>
						</li>
						<li>
							<p class="text-left" style="text-align:left"><strong style="text-align:left">Mobile Support</strong></p>
							<p class="text-left" style="text-align:left">
								Your employees can also use their android phone to check in or out. Simply download <a href="#" style="color:lightblue">the app</a> from Google Play and you're ready to use it!
								For now, we only support the app for Android OS.
							</p>
						</li>
						<li>
							<p class="text-left" style="text-align:left"><strong style="text-align:left">Cheating Prevention</strong></p>
							<p class="text-left" style="text-align:left">
								We've also added cheating prevention system to OATS. We do this by checking the location where employees check in. If the location is different to the actual company's location, the check in will fail.
							</p>
						</li>
					</div>
				</ul>
				<ul class="dialog" id="payment">
					<div class="row text-left">
						<h2 style="text-align:left">Payment</h2>
						<li>
							<p class="text-left" style="text-align:left"><strong style="text-align:left">Free Trial</strong></p>
							<p class="text-left" style="text-align:left">
								We offer you a 1 month free service to try this application for your company. If you like it, you can continue using it by paying monthly fees.
							</p>
						</li>
						<li>
							<p class="text-left" style="text-align:left"><strong style="text-align:left">Payment Fees</strong></p>
							<p class="text-left" style="text-align:left">
								The payment is done monthly through this website. The amount you have to spend varies based on the number of employees registered in the company.
							</p>
						</li>
						<li>
							<p class="text-left" style="text-align:left"><strong style="text-align:left">Freezed Company</strong></p>
							<p class="text-left" style="text-align:left">
								If you don't pay the specified amount of money past the due date, your company will be freezed. To unfreeze it, please settle your bill as soon as possible.
							</p>
						</li>
					</div>
				</ul>
				<ul class="dialog" id="faq">
					<div class="row text-left" style="display:inline-block">
						<h2 style="text-align:left">Frequently Asked Questions</h2>
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>
