<div class="row">
	<div class="span8 offset2 control-group">
		<div class="row">
			<strong><div class="center space20 big-title">Welcome to OATS!</div></strong>
		</div>
		<div class="row">
			<h2 class="center space10">Open Attendance System</h2>
		</div>
		<div class="row">
			<div class="span4 offset2">
				<input type="button" value="Register" class="btn btn-large btn-block btn-primary center space10" style="width: 300px" onclick="to_signup();">
			</div>
		</div>
		<div class="row">
			<div class="span4 offset2">
				<input type="button" value="Sign In" class="btn btn-large btn-block btn-primary center space10" style="width: 300px" onclick="to_signin();">
			</div>
		</div>
	</div>
</div>
<div class="push">
</div>