<div class="row">
	<div class="row">
		<div class="span8">
			<img src="/assets/LaptopOats.png" alt="Front Page Image" style="width:600px;"/>
		</div>
		<div class="span4 control-group">s
			<div class="row">
				<strong><h1 class="center space20">Welcome to OATS!</h1></strong>
			</div>
			<div class="row">
				<h2 class="center space10">Open Attendance System</h2>
			</div>
			<div class="row">
				<div class="span4">
					<input type="button" value="Register" class="btn btn-large btn-block btn-primary center space10" style="width: 100%" onclick="to_signup();"/>
				</div>
			</div>
			<div class="row">
				<div class="span4">
				<input type="button" value="Sign In" class="btn btn-large btn-block btn-primary center space10" style="width: 300px" onclick="to_signin();">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="push">
</div>