@import "bootstrap";

body
{
	background-color: #7a43b6;
	color: white;
	padding-top: 80px;
}

h1
{
	font-size: 60px;
}

.center
{
	float:none;
	margin: 0 auto;
	text-align: center;
}

.space10
{
	margin-top:10px;
	margin-bottom:10px;
}
