@import "bootstrap";

body
{
	background-color: #2f2f2f;
	color: white;
	padding-top: 120px;
	height: 100%;
}

h1
{
	font-size: 60px;
}

.center
{
	float:none;
	margin: 0 auto;
	text-align: center;
}

.space10
{
	margin-top:10px;
	margin-bottom:10px;
}

.push, .footer
{
	height: 60px;
}

.footer
{
	background-color: rgb(27,27,27);
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}