	<div class="span3 pull-right">
		<ul class="nav nav-tabs nav-stacked">
			<li><a href="/admin_companyprofile"><i class="icon-briefcase icon-white"></i> Company</a></li>
			<li><a href="/admin_employee"><i class="icon-list icon-white"></i> Employees</a></li>
		</ul>
	</div>