<div class="row">
	<div class="span12">
		<ul class="nav nav-tabs">
			<li><a href="/home"><i class="icon-home icon-white"></i> Home</a></li>
			<li><a href="/profile"><i class="icon-user icon-white"></i> Edit Profile</a></li>
			<li><a href="/performance"><i class="icon-time icon-white"></i> My Performance</a></li>
			<li><a href="/company"><i class="icon-briefcase icon-white"></i> Company</a></li>
			<li><a href="/employees"><i class="icon-list icon-white"></i> Employees</a></li>
		</ul>
	</div>
</div>