<footer class="footer">
	<div class="container">
		<div class="span10">
			<p class="muted">
				Copyright 2013 Suitmedia <br/>
				<%= link_to "Terms of Service", "/terms" %> <br/>
				<%= link_to "Privacy Policy", "/privacy" %>
			</p>
		</div>
	</div>
</footer>