<footer id="footer">
	<div class="container">		
		<p class="muted center">
			Copyright 2013 Suitmedia <br/>
			<%= link_to "Terms of Service", "/terms" %> <br/>
			<%= link_to "Privacy Policy", "/privacy" %>
		</p>
		<p class="muted center"><a href="https://github.com/wilsonfonda/oats">View source on Github</a></p>
		<p class="muted center">Powered by Heroku</p>
	</div>
</footer>
