<header>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="/"><img src="/assets/logo.png" alt="Logo" class="logo pull-left"/></a>
        <a class="brand" href="/">Oats</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="">
              <a href="/about">About</a>
            </li>
            <li class="">
              <a href="/help">Help</a>
            </li>            <li class="">
              <a href="/testimony">Testimonies</a>
            </li>
            <li class="">
              <a href="/contact">Contact Us</a>
            </li>
          </ul>
          <% if user_signed_in? %>
            <ul class="nav" style="float: right; display: inline-block;">
              <li class="">
                Welcome,<a href="/profile" style="display:inline-block"><%= current_user.name %></a>
              </li>
              <li class="">
                <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>