<header>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/main/index">Oats</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="">
              <a href="/main/index">Home</a>
            </li>
            <li class="">
              <a href="/about">About</a>
            </li>
            <li class="">
              <a href="/help">Help</a>
            </li>
            <li class="">
              <a href="/contact">Contact Us</a>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li class="">
              <form class="form-inline">
                <input type="text" class="input-medium" style="font-size: 10px; height: 15px; margin-top:5px;" placeholder="Email">
                <input type="password" class="input-medium" style="font-size: 10px; height: 15px; margin-top:5px;" placeholder="Password">
                <button type="submit" class="btn btn-small btn-primary">Sign in</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>